<div id="post-box" ng-if="posts" ng-repeat="posts in posts" style="margin-top:15px; margin-left:10px">
    <span class="rank">{{$index + 1}}</span>
    <p class="title">
        <a href={{posts.url}}> {{posts.title}} </a> </p>
    <p class="tagline">
        <span class="score" id="{{posts.id}}_score"> Post #{{posts.id}}</span>
        by <a href="username={{posts.username}}">{{posts.username}}</a>
        about <span class="age">{{posts.created_at}}</span>
        <span class="comments_number"><a href="/post={{posts.id}}" ng-click="getPostInfo({posts})"> {{posts.total_comments}} comments</a></span>
</div>
<div ng-click="morePage()">Show more posts</div>
