<div style="margin-top:15px; margin-left:10px">
    <h1><a href="{{postData[0].url}}"> {{postData[0].title}} </a> </h1>
    <p> <a href="/username={{postData[0].username}}">{{postData[0].username}} </a> | Total Comments {{postData[0].total_comments}} </p>
    <p> Posted about {{postData[0].created_at}} </p>
</div>

<textarea ng-model="newComment" rows="4" cols="50" placeholder="Type your comment"> </textarea> </br>
<button ng-click="submitComment()">Submit</button>


<div id="display-comments" style="margin-top:15px; margin-left:10px"></div>
<div ng-click="morePage()">Show more posts</div>


<!-- Trying to make work on angular -->
<!--
<div id="display-comments" ng-if="!comments.comment_id" ng-repeat="comments in comments" style="margin-top:15px; margin-left:10px">
    <span class="rank">{{$index + 1}}</span>
    <p class="title">
    <a href="/username={{comments.username}}">{{comments.username}} </a></p>
    <h3>{{comments.comment}}</h3>
    <span class="age">about {{comments.created_at}}</span>
    <span id=commentId={{comments.id}}></span> -->
        <!-- <ul ng-if="comments.reply" ng-repeat="n in comments.reply track by $index" style="margin-left:50px">
            <li> reply : {{comments.reply[$index]}}</li>
        </ul> --> -->

