* {
   margin: 0;
   padding: 0;
   list-style: none;
   vertical-align: top;
   text-decoration: none;
}

.active {
    font-size: 30px;
  
/* Home Page Login and Register Forms*/
 
  .main-container {
   width: 1100px;
   margin: 20px auto;
}

.register-container {
   width: 550px;
   float: left;
}

.login-container {
   width: 550px;
   float: left;
}

.active{
   font-size: 30px;
}
